USE [master]
GO
/****** Object:  Database [ProjectOneJava]    Script Date: 8/19/2025 8:31:17 PM ******/
CREATE DATABASE [ProjectOneJava]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectOneJava', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\ProjectOneJava.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectOneJava_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\ProjectOneJava_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectOneJava].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectOneJava]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[EmployeeID] [int] NULL,
	[Role] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Author] [nvarchar](50) NULL,
	[PublisherYear] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[CategoryID] [int] NULL,
	[SupplierID] [int] NULL,
	[QuantityInStock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[EmailNum] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](100) NULL,
	[Gender] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNum] [nvarchar](20) NULL,
	[Address] [nvarchar](100) NULL,
	[Role] [bit] NULL,
	[Gender] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[BookID] [int] NULL,
	[OrderID] [int] NULL,
	[Quantity] [int] NULL,
	[DetailedOrderID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[DetailedOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[OrderDate] [date] NULL,
	[PromotionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentsID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromotionID] [int] NOT NULL,
	[PromoTitle] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [bit] NULL,
	[DiscountValue] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Receipt_Details]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Receipt_Details](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Receipts]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Receipts](
	[ReceiptID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[ReceiptDate] [date] NULL,
	[SupplierID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt_Summary]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_Summary](
	[ReceiptSummaryID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[ReceiptID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptSummaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockID] [int] NOT NULL,
	[BookID] [int] NULL,
	[Quantity] [int] NULL,
	[LastUpdated] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] NOT NULL,
	[SupplierName] [nvarchar](50) NULL,
	[NumberOfBooks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_Contacts]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_Contacts](
	[ContactID] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[SupplierID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [Status], [EmployeeID], [Role]) VALUES (1, N'quanly1', N'123', 1, 1, 1)
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [Status], [EmployeeID], [Role]) VALUES (2, N'nhanvien2', N'123456', 1, 2, 0)
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [Status], [EmployeeID], [Role]) VALUES (3, N'nhanvien3', N'123456', 1, 3, 0)
GO
INSERT [dbo].[Books] ([BookID], [Title], [Author], [PublisherYear], [Price], [CategoryID], [SupplierID], [QuantityInStock]) VALUES (1, N'Đắc Nhân Tâm', N'Dale Carnegie', 2010, CAST(80000.00 AS Decimal(10, 2)), 10, 1, 50)
INSERT [dbo].[Books] ([BookID], [Title], [Author], [PublisherYear], [Price], [CategoryID], [SupplierID], [QuantityInStock]) VALUES (2, N'Nhà Giả Kim', N'Paulo Coelho', 2015, CAST(95000.00 AS Decimal(10, 2)), 1, 2, 30)
INSERT [dbo].[Books] ([BookID], [Title], [Author], [PublisherYear], [Price], [CategoryID], [SupplierID], [QuantityInStock]) VALUES (3, N'Tuổi Trẻ Đáng Giá Bao Nhiêu', N'Rosie Nguyễn', 2018, CAST(75000.00 AS Decimal(10, 2)), 10, 3, 40)
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Tiểu thuyết')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Truyện ngắn')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Thơ')
GO
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [Age], [EmailNum], [Phone], [Address], [Gender]) VALUES (1, N'Nguyễn Văn A', 25, N'nguyenvana@gmail.com', N'0912345678', N'Hà Nội', 1)
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [Age], [EmailNum], [Phone], [Address], [Gender]) VALUES (2, N'Trần Thị B', 30, N'tranthib@gmail.com', N'0912345679', N'Hồ Chí Minh', 0)
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [Age], [EmailNum], [Phone], [Address], [Gender]) VALUES (3, N'Lê Văn C', 22, N'levanc@gmail.com', N'0912345680', N'Đà Nẵng', 1)
GO
INSERT [dbo].[Employees] ([EmployeeID], [Name], [FirstName], [Age], [Email], [PhoneNum], [Address], [Role], [Gender]) VALUES (1, N'Nguyễn', N'Văn Nhân', 28, N'nguyenvannhan@gmail.com', N'0987654321', N'Hà Nội', 1, 1)
INSERT [dbo].[Employees] ([EmployeeID], [Name], [FirstName], [Age], [Email], [PhoneNum], [Address], [Role], [Gender]) VALUES (2, N'Trần', N'Thị Viên', 25, N'tranthivien@gmail.com', N'0987654322', N'Hồ Chí Minh', 0, 0)
INSERT [dbo].[Employees] ([EmployeeID], [Name], [FirstName], [Age], [Email], [PhoneNum], [Address], [Role], [Gender]) VALUES (3, N'Lê', N'Văn Công', 30, N'levancong@gmail.com', N'0987654323', N'Đà Nẵng', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

INSERT [dbo].[Order_Details] ([BookID], [OrderID], [Quantity], [DetailedOrderID]) VALUES (1, 1, 2, 1)
INSERT [dbo].[Order_Details] ([BookID], [OrderID], [Quantity], [DetailedOrderID]) VALUES (5, 1, 1, 2)
INSERT [dbo].[Order_Details] ([BookID], [OrderID], [Quantity], [DetailedOrderID]) VALUES (10, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderDate], [PromotionID]) VALUES (1, 1, 2, CAST(N'2025-01-15' AS Date), NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderDate], [PromotionID]) VALUES (2, 3, 5, CAST(N'2025-02-20' AS Date), 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderDate], [PromotionID]) VALUES (3, 5, 8, CAST(N'2025-03-10' AS Date), NULL)
GO
INSERT [dbo].[Payments] ([PaymentsID], [Name]) VALUES (1, N'Tiền mặt')
INSERT [dbo].[Payments] ([PaymentsID], [Name]) VALUES (2, N'Chuyển khoản')
INSERT [dbo].[Payments] ([PaymentsID], [Name]) VALUES (3, N'Thẻ tín dụng')
GO
INSERT [dbo].[Promotion] ([PromotionID], [PromoTitle], [Description], [StartDate], [EndDate], [Status], [DiscountValue]) VALUES (1, N'Giảm giá mùa hè', N'Giảm giá 20% cho tất cả sách', CAST(N'2025-06-01' AS Date), CAST(N'2025-08-31' AS Date), 1, CAST(20.00 AS Decimal(5, 2)))
INSERT [dbo].[Promotion] ([PromotionID], [PromoTitle], [Description], [StartDate], [EndDate], [Status], [DiscountValue]) VALUES (2, N'Back to School', N'Giảm 15% sách giáo khoa', CAST(N'2025-08-15' AS Date), CAST(N'2025-09-15' AS Date), 0, CAST(15.00 AS Decimal(5, 2)))
INSERT [dbo].[Promotion] ([PromotionID], [PromoTitle], [Description], [StartDate], [EndDate], [Status], [DiscountValue]) VALUES (3, N'Black Friday', N'Giảm đến 50%', CAST(N'2025-11-24' AS Date), CAST(N'2025-11-26' AS Date), 0, CAST(50.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[Purchase_Receipt_Details] ON 

INSERT [dbo].[Purchase_Receipt_Details] ([DetailID], [ReceiptID], [BookID], [Quantity]) VALUES (1, 1, 1, 18)
INSERT [dbo].[Purchase_Receipt_Details] ([DetailID], [ReceiptID], [BookID], [Quantity]) VALUES (2, 2, 2, 8)
INSERT [dbo].[Purchase_Receipt_Details] ([DetailID], [ReceiptID], [BookID], [Quantity]) VALUES (3, 3, 3, 11)
SET IDENTITY_INSERT [dbo].[Purchase_Receipt_Details] OFF
GO
INSERT [dbo].[Purchase_Receipts] ([ReceiptID], [EmployeeID], [ReceiptDate], [SupplierID]) VALUES (1, 4, CAST(N'2023-01-05' AS Date), 10)
INSERT [dbo].[Purchase_Receipts] ([ReceiptID], [EmployeeID], [ReceiptDate], [SupplierID]) VALUES (2, 9, CAST(N'2023-01-06' AS Date), 8)
INSERT [dbo].[Purchase_Receipts] ([ReceiptID], [EmployeeID], [ReceiptDate], [SupplierID]) VALUES (3, 4, CAST(N'2023-01-07' AS Date), 3)
GO
INSERT [dbo].[Receipt_Summary] ([ReceiptSummaryID], [TotalAmount], [PaymentStatus], [ReceiptID]) VALUES (1, CAST(4000000.00 AS Decimal(10, 2)), N'Đã thanh toán', 1)
INSERT [dbo].[Receipt_Summary] ([ReceiptSummaryID], [TotalAmount], [PaymentStatus], [ReceiptID]) VALUES (2, CAST(2850000.00 AS Decimal(10, 2)), N'Đã thanh toán', 2)
INSERT [dbo].[Receipt_Summary] ([ReceiptSummaryID], [TotalAmount], [PaymentStatus], [ReceiptID]) VALUES (3, CAST(3000000.00 AS Decimal(10, 2)), N'Đã thanh toán', 3)
GO
INSERT [dbo].[Stock] ([StockID], [BookID], [Quantity], [LastUpdated]) VALUES (1, 1, 50, CAST(N'2023-01-10' AS Date))
INSERT [dbo].[Stock] ([StockID], [BookID], [Quantity], [LastUpdated]) VALUES (2, 2, 30, CAST(N'2023-01-10' AS Date))
INSERT [dbo].[Stock] ([StockID], [BookID], [Quantity], [LastUpdated]) VALUES (3, 3, 40, CAST(N'2023-01-10' AS Date))
GO
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [NumberOfBooks]) VALUES (1, N'Nhà xuất bản Trẻ', 500)
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [NumberOfBooks]) VALUES (2, N'Nhà xuất bản Kim Đồng', 300)
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [NumberOfBooks]) VALUES (3, N'Nhà xuất bản Giáo dục', 700)
GO
INSERT [dbo].[Supplier_Contacts] ([ContactID], [Email], [Phone], [SupplierID]) VALUES (1, N'contact@nxbtre.com', N'02438234567', 1)
INSERT [dbo].[Supplier_Contacts] ([ContactID], [Email], [Phone], [SupplierID]) VALUES (2, N'info@nxbkimdong.com', N'02838234568', 2)
INSERT [dbo].[Supplier_Contacts] ([ContactID], [Email], [Phone], [SupplierID]) VALUES (3, N'support@nxbgd.com', N'02438234569', 3)
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Purchase_Receipts] ADD  DEFAULT ((1)) FOR [SupplierID]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotion] ([PromotionID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Purchase_Receipt_Details]  WITH CHECK ADD  CONSTRAINT [FK__ReceiptDetails___Receipt] FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[Purchase_Receipts] ([ReceiptID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchase_Receipt_Details] CHECK CONSTRAINT [FK__ReceiptDetails___Receipt]
GO
ALTER TABLE [dbo].[Purchase_Receipt_Details]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PRD] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Purchase_Receipt_Details] CHECK CONSTRAINT [FK_BOOK_PRD]
GO
ALTER TABLE [dbo].[Purchase_Receipts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Purchase_Receipts]  WITH CHECK ADD  CONSTRAINT [fk_Supplier_PurchaseReceipt] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Purchase_Receipts] CHECK CONSTRAINT [fk_Supplier_PurchaseReceipt]
GO
ALTER TABLE [dbo].[Receipt_Summary]  WITH CHECK ADD FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[Purchase_Receipts] ([ReceiptID])
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Supplier_Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Suppl] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supplier_Contacts] CHECK CONSTRAINT [FK_Supplier_Suppl]
GO
/****** Object:  StoredProcedure [dbo].[sp_DemNV_TheoTrphgNhanThan]    Script Date: 8/19/2025 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DemNV_TheoTrphgNhanThan]
    @Trphg NVARCHAR(5)
AS
BEGIN
    SELECT *
    FROM NHANVIEN NV
    WHERE NV.MA_NQL = @Trphg
	AND NOT EXISTS (
		SELECT 1
		FROM THANNHAN TN
		WHERE NV.MANV = TN.MA_NVIEN
	)
END
GO
USE [master]
GO
